mixin short-answer(label, name)
  .form-group
    label(for=name)= label
    input.form-control(id=name name=name type='text')

mixin paragraph(label, name)
  .form-group
    label(for=name)= label
    textarea.form-control(id=name name=name rows=2)

mixin multiple-choice(label, name, options)
  .form-group
    label= label
    each option, i in options
      .form-check
        - id = name + '-' + i
        label.form-check-label(for=id)
        input(id=id class='form-check-input' name=name type='radio' value=option[0])/ #{option[0]}

mixin dropdown(label, name, options)
  .form-group
    label(for=name)= label
    select.form-control(id=name name=name)
      each option in options
        option(value=option[0])= option[0]

mixin checkboxes(label, name, options)
  .form-group
    label= label
    each option, i in options
      .form-check
        - id = name + '-' + i
        label.form-check-label(for=id)
        input.form-check-input(id=id name=name type='checkbox' value=option[0])/ #{option[0]}

mixin range(label, name, options)
  - min = options[0][0]
  - max = options[options.length - 1][0]
  label= label 
  input.form-control-range(id=name name=name type='range' min=min max=max step='1')

mixin linear-scale(label, name, options)
  label= label 
  .form-group
    each option, i in options
      .form-check.form-check-inline.mx-1.mx-md-3
        - value = i + parseInt(options[0])
        label.form-check-label.text-center= value
          input.form-check-input.d-block.position-relative.mt-2.mx-auto(name=name value=value type='radio')

mixin grid-choice(label, columns, child)
  label= label

  .table-responsive
    table.table.table-borderless
    
      tr.border-bottom
        td.text-center
        each column in columns
          td.text-center= column

      each row in child
        tr.border-bottom
          td.text-center= row.row
          each option, i in columns
            td.text-center
              - id = option + '-' + i
              if row.type == 0
                input(id=id name=row.name type='radio' value=option[0])
              else
                input(id=id name=row.name type='checkbox' value=option[0])


mixin date(label, name)
  .form-group
    label(for=name)= label
    input.form-control(id=name name=name type='date')

mixin time(label, name)
  .form-group
    label(for=name)= label
    input.form-control(id=name name=name type='time' value='06:00')

mixin email-collecting(label, name)
  .form-group
    label(for=name)= label
    input.form-control(id=name name=name type='email' required)

doctype html
html(lang='vi')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  body.bg-transparent

    - pageHistory = []

    form(action=action method='post')
      each section, i in sections
        - id = 'section-' + i
        - prevId = '#section-' + (i - 1)
        - nextId = '#section-' + (i + 1)
        - pageHistory.push(i)

        .card(id=id style=(i === 0) ? '' : 'display: none')
          .card-body
            if section.title
              h5.card-title= section.title
            each field in section.fields
              case field.type
                when 0
                  +short-answer(field.label, field.name)
                when 1
                  +paragraph(field.label, field.name)
                when 2
                  +multiple-choice(field.label, field.name, field.options)
                when 3
                  +dropdown(field.label, field.name, field.options)
                when 4
                  +checkboxes(field.label, field.name, field.options)
                when 5
                  +linear-scale(field.label, field.name, field.options)
                when 7
                  +grid-choice(field.label, field.columns, field.child)
                when 9
                  +date(field.label, field.name)
                when 10
                  +time(field.label, field.name)
                when 11
                  +email-collecting(field.label, field.name)
            if sections[i - 1]
              a.btn.btn-secondary.mr-2(href=prevId onclick=`$('.card').hide(); $('${prevId}').show()`) Trang trước
            if sections[i + 1]
              a.btn.btn-secondary.mr-2(href=nextId onclick=`$('.card').hide(); $('${nextId}').show()`) Trang sau
            if !sections[i + 1]
              input.btn.btn-primary(type='submit' value='Gửi')

      .form-group.d-none
        - pageHistory = pageHistory.join(',')
        label(for='page-history') Hidden Input
        input.form-control(id='page-history', name='pageHistory', type='text', value=pageHistory)
