extends layouts/bootstrap

block content
  .container.mt-3.bg-white
    form(action=data.formAction)
      each input in data.dataParams
        .form-group
          case input.type
            when 0
              label(for=input.name) #{input.label}
              input(id=input.name class='form-control' name=input.name type='text')
            when 1
              label(for=input.name) #{input.label}
              textarea(id=input.name class='form-control' name=input.name rows=3)
            when 2
              label #{input.label}
              each radio, i in input.childs
                .form-check
                  - id = input.name + '-' + i
                    label(class='form-check-label' for=id)
                      input(id=id class='form-check-input' name=input.name type='radio' value=radio[0]) 
                      | #{radio[0]}
            when 3
              label(for=input.name) #{input.label}
              select(id=input.name class='form-control' name=input.name)
                each option in input.childs
                  option(value=option[0]) #{option[0]}
            when 4
              label #{input.label}
              each radio, i in input.childs
                .form-check
                  - id = input.name + '-' + i
                    label(class='form-check-label' for=id)
                      input(id=id class='form-check-input' name=input.name type='checkbox' value=radio[0]) 
                      | #{radio[0]}
            when 5
              - min = input.childs[0][0]
              - max = input.childs[input.childs.length - 1][0]
              label #{input.label}
              input(id=input.name class='form-control-range' name=input.name type='range' min=min max=max step='1')
            when 9
              label(for=input.name) #{input.label}
              input(id=input.name class='form-control' name=input.name type='date')
            when 10
              label(for=input.name) #{input.label}
              input(id=input.name class='form-control' name=input.name type='time' value='06:00')
      button(class='btn btn-primary' type='submit') #{submitText}
